extend layout
block content

  img(src='images/zachary_shore.jpg', style='float:right;width:158px;height:250px; margin-left:10px;')
  .bioText#biography
    p.
      I am a historian of modern international conflict who focuses on judgment. One of my aims is to explore how history can illuminate both the causes of conflict and the roots of wisdom. 
    p.
      The field of international history studies the causes of war and the conditions for a stable peace. My particular approach scrutinizes the decision-making processes of historical actors in order to gain purchase on how tensions, conflicts, and wars arise. Drawing on insights from the cognitive sciences and related fields, and employing the historian's craft, I try to deepen our understanding of how and why certain conflicts occurred and what this tells us about how we think.
    p.
      While a doctoral student at Oxford, and later while performing postdoctoral research at Harvard, I wrote my first book, a study of decision making inside Nazi Germany: <span class='italic'>What Hitler Knew</span>. Thanks to a fellowship from the Council on Foreign Relations, I next served on the State Department's Policy Planning Staff and soon thereafter began work on my second book, <span class='italic'>Breeding Bin Ladens</span>, which explores the historical and contemporary problems surrounding Europe's Muslims.
    p.
      After joining the faculty at the Naval Postgraduate School, and UC Berkeley's Institute of European Studies, I wrote <span class='italic'>Blunder: Why Smart People Make Bad Decisions</span>. This work ranges across history to uncover why individuals, organizations, and even whole nations, sometimes shoot themselves in the foot. More recently, as a fellow at Stanford’s Center for Advanced Study in the Behavioral Sciences, I asked how historical actors have formed good judgments about their opponents. In <span class='italic'>A Sense of the Enemy</span> I wanted to know what enabled leaders to think like their adversaries, and whether their methods can be of use to us today.
  h4#teaching Teaching
  .bioText
    p.
      In addition to teaching on the history of international conflict, I also offer a more specialized seminar on issues concerning Islam in Europe. In an effort to assist the military officers I teach, I developed an extracurricular course on graduate school survival skills. As a result, in 2013, I was asked to help create and launch a university-wide writing center. In this capacity I have provided lectures and workshops on how to read, write, deliver classroom presentations, and think critically at a graduate level. Some of these lectures are available on this site’s Media page.
  h4#fellowships Fellowships & Awards
  .fellowships
    p.
      Finalist, DAAD Prize for Distinguished Scholarship in German and European Studies, 2012.
    p.
      Fellow, Center for Advanced Study in the Behavioral Sciences, Stanford University, 2011-2012.
    p.
      J. William Fulbright Award, Institute of International Education, Washington, DC. Invited to participate in seminars on Europe’s changing demographics. Conferences held in Tübingen, Strasbourg, and Berlin. May 13-26, 2006.
    p.
      International Affairs Fellowship, Council on Foreign Relations, New York, NY. Selected as one of 12 fellows in nationwide competition. Served on Policy Planning Staff, U.S. Department of State.  2001-2002.
    p.
      Transatlantic Idea Prize, Kurt A. Körber Foundation, Berlin, Germany. Awarded prize by Körber Foundation for devising the best public policy solution to a current German domestic social problem. Presented at Berlin ceremony. June 2004.
    p.
      John M. Olin Post-Doctoral Fellowship, Brookings Institution, Washington, DC. 2001-2003 (declined). 
    p.
      Derek Bok Award for Outstanding Teaching, Department of Government, Harvard University. Selected by students. May 2001. 
    p.
      National Security Fellow, Olin Institute for Strategic Studies, Weatherhead Center for International Affairs, Harvard University, 1999-2000.
    p.
      St. Antony’s College Book Prize, Oxford University, Oxford, UK. Awarded to one student annually for academic excellence. 1999.
    p.
      Overseas Research Award (ORS), Association of United Kingdom Universities, London, UK. Merit award for graduate school tuition. 1995-1997.
    p.
      Graduate Scholarship, Gore Memorial Trust Fund, Florida. Funding for advanced education. 1995-1997.
    p.
      Language Acquisition Scholarship, Middlebury College, Middlebury, VT. Awarded full tuition for summer Russian language program. Summer 1996.