extend layout
block content

  img(src='images/zachary_shore.jpg', style='float:right;width:158px;height:250px; margin-left:10px;')
  .bioText#biography
    p.
      ZACHARY SHORE is Associate Professor of National Security Affairs at the Naval Postgraduate School, and a Senior Fellow at the Institute of European Studies, University
      of California, Berkeley. Shore earned his doctorate in modern European history at Oxford, and performed postdoctoral research at Harvard.
      From 2011-2012 he was a fellow at Stanford’s Center for Advanced Study in the Behavioral Sciences.
  h4#fellowships Fellowships
  .fellowships
    p
      |Finalist for the 2012 DAAD Prize for Distinguished Scholarship in German and European Studies.
    p
      |Center for Advanced Study in the Behavioral Sciences, Stanford University, 2011-2012.
    p
      |J. William Fulbright Award, Institute of International Education, Washington, DC, 2006.
    p
      |Transatlantic Idea Prize, Kurt A. Körber Foundation, Berlin, Germany. Awarded prize by Körber Foundation for devising the best public policy solution to a current German domestic social problem. Presented at Berlin ceremony. June 2004.
    p
      |International Affairs Fellowship, Council on Foreign Relations, New York, NY, 2000-2001.
    p
      |John M. Olin Post-Doctoral Fellowship, Brookings Institution, Washington, DC. 2001-2003 (declined).
    p
      |Derek Bok Award for Outstanding Teaching, Department of Government, Harvard University, Cambridge, Mass. Selected by students. May 2001.
    p
      |National Security Fellow, Olin Institute for Strategic Studies, Weatherhead Center for International Affairs, Harvard University, 1999-2000.
    p
      |St. Antony’s College Book Prize, Oxford University, Oxford, UK. Awarded to one student annually for academic excellence. 1999.
    p
      |Overseas Research Award (ORS), Association of United Kingdom Universities, London, UK. Merit award for graduate school tuition. 1995-1997.
    p
      |Graduate Scholarship, Gore Memorial Trust Fund, Florida. Funding for advanced education. Awarded three consecutive years. 1995-1997.
    p
      |Language Acquisition Scholarship. Awarded full tuition for summer Russian language program, Middlebury College, Middlebury, VT. Summer 1996.
    p
      |Dupont Fellowship, Faculty of History, University of Virginia, Charlottesville, Virginia. Awarded full tuition plus stipend for graduate school. 1993-1995.
    p
      |Charlotte B. Newcombe Award, Charlotte B. Newcombe Foundation, University of Pennsylvania, Philadelphia, PA. 1988.

