extend layout
block content

  img(src='images/zachary_shore.jpg', style='float:right;width:158px;height:250px; margin-left:10px;')
  .bioText#biography
    p.
      Zachary Shore is Associate Professor of History at the Naval Postgraduate School and a Senior Fellow at the
      Institute of European Studies, University of California, Berkeley. He earned his doctorate in modern history at
      Oxford, performed postdoctoral research at Harvard, and held a fellowship at Stanford’s Center for Advanced Study
      in the Behavioral Sciences.
    p.
      Shore is a historian of international conflict whose research focuses on foreign policy decision making. <b>His
      research interests include:</b>
      <br/>
      20th-Century International History, Late Modern Europe, Interwar Era Germany, Islam in Europe, Foreign Policy Decision Making, Strategy and Policy.

  h4#fellowships Fellowships & Awards
  .fellowships
    ul
      li.
        Stanford University, Andrew W. Mellon Fellow in the Humanities, Center for Advanced Study in the Behavioral Sciences, 2011-2012.
      li.
        German Academic Exchange Service, Finalist, DAAD Prize for Distinguished Scholarship in German and European Studies, 2012.
      li.
        J. William Fulbright Award, Institute of International Education, 2006.
      li.
        Kurt A. Körber Foundation, Transatlantic Idea Prize, Berlin, Germany, 2004.
      li.
        Council on Foreign Relations, International Affairs Fellowship, 2001.
      li.
        Brookings Institution, John M. Olin Post-Doctoral Fellowship, Washington, DC. 2001-2003 (declined).
      li.
        Harvard University, Derek Bok Award for Outstanding Teaching, Department of Government, 2001.
      li.
        Harvard University, National Security Fellow, Olin Institute for Strategic Studies, Weatherhead Center for International Affairs, 1999-2000.
      li.
        Oxford University, St. Antony’s College Book Prize, 1999.