extend layout
block content

  #biography
    img(src='images/zachary_shore.jpg', style='float:right;width:158px;height:250px; margin-left:10px;')
    .bioText
      p
        |ZACHARY SHORE is Associate Professor of National Security Affairs at the Naval Postgraduate School, and a Senior Fellow at the Institute of European Studies, University of California, Berkeley. He previously served on the Policy Planning Staff at the U.S. Department of State through an International Affairs Fellowship from the Council on Foreign Relations. He has also worked as a National Security Fellow at Harvard’s Olin Institute for Strategic Studies and at the American Institute for Contemporary German Studies in Washington, DC.
      p
        |Shore earned his doctorate in modern European history from St. Antony's College, Oxford, and has lived for more than six years in Europe, traveling for extended periods across the continent, including Germany, Russia, and the Balkans. His academic honors include winning Harvard's Derek Bok Teaching Award, Oxford's St. Antony's Book Prize, a Dupont Fellowship, an Idea Prize from Germany's Kõrber Foundation, and research grants from the Fulbright Foundation, Smith Richardson Foundation, Earhart Foundation, Daimler-Chrysler Foundation and the Royal Historical Society of Great Britain. He has appeared on National Public Radio, Dialogue, and other media outlets.
      p
        |Shore’s articles and editorials on foreign policy have appeared in The International Herald Tribune, The Los Angeles Times, The Baltimore Sun, Newsday, Haaretz, The National Interest, Orbis, The Journal of Contemporary History, and Intelligence and National Security. His books have been reviewed and profiled in Foreign Affairs, The Financial Times, Washington Monthly, The San Francisco Chronicle, and The New Republic On-line.

