extend layout
block content
  div(style='float:right; margin-left:20px; margin-bottom:10px;')
    img(src='images/blunder_300w.jpg' width='250px' alt='Blunder: Why Smart People Make Bad Decisions' title='Blunder: Why Smart People Make Bad Decisions')
    div(style='margin-top:5px; text-align:center; font-size:.9em') "Blunder" is available from <a alt="Order Blunder from Amazon.com" href="http://www.amazon.com/Blunder-Smart-People-Make-Decisions/dp/1596912421/ref=sr_1_3/105-3580678-3456460?ie=UTF8&s=books&qid=1214860069&sr=1-3">Amazon</a>
  h3 Blunder: Why Smart People Make Bad Decisions
  h4(style='margin-bottom:10px;') Keeping Current - Excerpt from the Introduction
  p(class='mb10').
    By age thirty-five, Thomas Alva Edison stood at the peak of his career. Presidents asked to meet him. Financiers hoped to fund him. Journalists vied to quote him,
    desperate to report his latest breakthroughs. Tourists crowded daily in his lab, just to watch him capture human voices on a disc and hear them back again.
    In a time before television, his image was so recognizable that a letter sent from North Carolina bearing only a sketch of his face easily reached him in New Jersey.
    The mere invoking of his name suggested genius, hard work, and the American "can-do" spirit. Then, in 1882, he illuminated part of New York City with his first central
    power station. So many other cities requested stations of their own that his company simply lost count. Edison had become a national icon, and the future looked full of fortune.
    There was a problem, however, one so obvious that Edison should easily have grasped it. The world was already outgrowing the very electric system which he had helped devise.
    Edison's light bulbs used direct current, but only alternating current could power both tiny light bulbs and gigantic machines over vast distances. When one of Edison's star
    employees, a young man named Nicola Tesla, explained how they could harness alternating current and transform the way people live, Edison would have none of it. Edison had
    built his fame on direct current, and he could not imagine that anything more was needed. It was an exceptionally bad decision. By rejecting a new and far superior technology,
    Edison set the stage for Tesla to eclipse him.
  p(class='mb10').
    If mad scientists had a prototype, Nicola Tesla would be it. Nearly everything he did had to be divisible by three.
    He would swim twenty-seven laps each morning. He would only eat breakfast with eighteen napkins set at his place. He would count the number of steps from his lodging to his office,
    and if that number were not divisible by three, he would circle around the block to make the calculation fit. Certain furry things repulsed him. The thought of touching someone's
    hair made him queasy. The presence of a peach produced a fever. In his later years, he developed an excessive, almost romantic attachment to pigeons. Despite these traits,
    or perhaps because of them, his close friends like Mark Twain and Robert Underwood Johnson found him utterly endearing. For their friendship, Tesla now and then delighted them
    with his laboratory magic. The tall and boyishly exuberant Serb mesmerized his visitors by sending bolts of spectral light dancing across the room. He commanded electric fireballs
    to engulf his body, and always emerged unscathed. Occasionally he literally shocked the onlookers by directing waves of colored currents through his guests. Mark Twain and friends
    were privy to a futuristic light show at a time when electricity was barely understood. But to bring his magic to the world, Tesla would have to confront the wrath of the man
    synonymous with electric light.
  p
    a(href="/static/content/blunder_intro.pdf") To read the full introduction, click here