extend layout
block content
  div(style='float:right; margin-left:20px; margin-bottom:10px;')
    img(src='images/breedingbinladens_300w.jpg' width='250px' alt='What Hitler Knew' title='What Hitler Knew')
  div.textContent
    h3 Breeding Bin Ladens
    h4 Reviews
    ul
      li Stanley Hoffmann, <a target="_blank" href="static/content/chronicle_zachary_shore.pdf">Review of "Breeding Bin Ladens"</a>, Foreign Affairs, January 2007.
      li Aziz Huq, <a target="_blank" href="http://prospect.org/article/continental-divide">"Continental Divide"</a>, American Prospect, December 12, 2006.
      li Gideon Rachman, <a target="_blank" href="http://www.ft.com/cms/s/bae746ae-5d38-11db-9d15-0000779e2340.html">"US prophets of Europe’s doom are half wrong"</a>, The Financial Times, October 16, 2006.

    h4 The Prolific Assassin - Excerpt from the Introduction
    p.
      Had it been an ordinary homicide, it would scarcely have been mentioned in the local Amsterdam press, let alone in the global media. But this was no ordinary murder, for the victim was famous,
      the assailant was Muslim, and the motive appeared to be revenge. Yet despite the intense international coverage, many observers remain unaware that the Dutch-Moroccan murderer had Americans in mind
      as he planned the gruesome attack. On the morning of November 2, 2004, exactly 911 days after the September 11, 2001, attacks on America, 47-year-old Dutch filmmaker Theo van Gogh
      great-grandnephew of the artist Vincent van Gogh, was riding his bicycle to work along an Amsterdam boulevard. Racing up beside him came another bicyclist,
      a young man dressed in traditional Moroccan garb. Without warning, the stranger suddenly revealed a handgun, aimed, and fired. Swerving off the road, Van Gogh leapt off his bike and ran,
      but the assailant kept shooting, hitting his target several times. The bullets might have been enough to kill, but the assassin was not finished. He rushed at Van Gogh, wielding a butcher’s knife.
      “Don’t do it,” Van Gogh pleaded, but without hesitation the stranger stabbed him repeatedly and slit his throat. The incident occurred so quickly that the perpetrator,
      26-year-old Mohammed Bouyeri, could still have fled the scene with a chance of escape. Instead, he removed a five-page note from his pocket, placed it over Van Gogh’s torso,
      and plunged a second knife into the bloody corpse, pinning the note to his victim’s body. Police chased Bouyeri through a nearby park, exchanged fire, and captured him only after
      shooting him in the leg. Several days later, the text of Bouyeri’s elaborate note was made public. In its conclusion the assassin wrote, “I have no doubt that you,
      O America”—along with Europe—“will surely fall.”
    p
      a(href="/static/content/breedingbinladens_intro.pdf") To read the full introduction, click here
    h4 Q & A
    p <b>Q: Why would young European Muslims want to commit terrorism in the name of Islam?</b>
    p.
      A: Breeding Bin Ladens asserts that we cannot understand extremism without first understanding how terrorists are bred. That's why this book presents the actual thoughts and feelings of Europe's
      younger Muslims, most of whom would never commit violence, but some of whom could be tempted to sympathize with terrorist acts.
    p.
      What are the common experiences of Europe&#39;s Muslims? How could such an eclectic mix of peoples from so many different national, ethnic, linguistic, and racial backgrounds be drawn
      toward a unifying identity? What is fueling the rise of pan-Islamism? Breeding Bin Ladens attempts to answer questions such as these.
    p <b>Q: What is Breeding Bin Ladens really about:</b>
    p.
      A: This is a book about identities - the identities of ethnic Europeans as well as Europe's Muslims. The first group is struggling to accept that it truly lives in an immigration society,
      one that is changing and being changed by its new arrivals. The second group is struggling just as much, searching for a Muslim European role on the EU stage.
    p.
      Breeding Bin Ladens profiles some of Europe's younger Muslims at a critical fork in the road: one trail leads them to Western integration, the other sets a course for alienation and possible extremism.
      It traces their steps as they navigate an identity minefield in search of a cultural "third way."
    p.
      In this book's pages you will travel to the hotspots where national security and national identity collide--in the homes and mosques of Europe. Through in-depth interviews, I present the honest,
      anguished, sometimes harsh thoughts and feelings of Europe's younger Muslims, giving Western readers access to a foreign world right in their own backyard.
    p <b>Q: How is this book different from other works on the subject?</b>
    p.
      A: Much of the current literature has a strong Chicken Little tone. Authors shout that Europe's Muslims are destroying Europe from within, eroding its Christian heritage.
      And flocking to extremism. (<a href="http://www.ft.com/cms/s/bae746ae-5d38-11db-9d15-0000779e2340.html" target="_blank">Gideon Rachman's review</a> of the major works puts it best.)
    p Breeding Bin Ladens steps back from the frenzied cries and asks younger European Muslims to tell their own tales of life in modern Europe.
    p <b>Q: Who, or what, is breeding Bin Ladens?</b>
    p.
      A: Failed European integration efforts, American foreign policies, and the lure of radical Muslim preachers are all contributing to the problem. Extremists are still relatively few,
      though their ranks appear to be growing. Because many Muslims are conflicted when it comes to America, it makes little sense to speak of "anti-Americanism."
      To be truly against America is to hate the entire nation: its people, its products, and its policies. The majority of Europe's Muslims are deeply ambivalent toward America,
      drawn to some of its characteristics and repelled by others. For this reason, I write about ambivalent-Americanism, or, <b>ambi-Americanism for short</b>.
    p.
      The roots of <b>ambi-Americanism</b> and <b>ambi-Europeanism</b> extend far beyond the occupation of Iraq or America's Israel policy.
      Most Muslims, like most ethnic Europeans, are of two minds toward America. They are attracted by America&#39;s appealing traits--its freedoms, openness, technological prowess,
      ßeducational institutions, economic opportunities, and some of its cultural exports--but at the same time they are also repelled by many of its other traits,
      embodied in its perceived lack of social justice, consumerism, sexualization of women, and putative hypocritical foreign policies.
    p.
      There exists among younger European Muslims a growing sense that Europe and America are spiritually empty. Islam is providing a powerful magnet to those youth, who crave greater meaning to their lives.
      They are finding in Islam a sense of fulfillment that they have not found in mainstream European culture. Throughout this book, you will meet young Muslims and hear their tales of discovering
      the grace of God. Many of these are conversion stories. Though the young people in question were born into Muslim homes, they were not observant. Once they came of age as young adults in Europe,
      they felt the need for something more.
    div.horizontalLinks
      span Breeding Bin Ladens is available from:
      span <a href="http://www.amazon.com/exec/obidos/tg/detail/-/0801885051/ref=pd_sl_aw_alx-jeb-9-1_book_25413276_1?tag2=amd-google-20" target="_blank">Amazon</a>
      span <a href="http://www.press.jhu.edu/books/title_pages/9138.html" target="_blank">Johns Hopkins University Press</a>