extend layout
block content


  img(src='images/twinPeaks.jpg' style='float:right; width:250px; border:solid 1px #ccc;')
  p.mb10
    |If you would like to contact me, feel free to email me at the below address.
  p
    |z (at) zacharyshore (dot) com


