extend layout
block content

  #bookContainer(style='margin:100px 0px;')
    a(href='http://www.amazon.com/Sense-Enemy-Stakes-History-Reading/dp/0199987378/')
      img(src='images/sense_hires_100w.jpg', width='129px' alt='A Sense of the Enemy' style='border:solid 1px #bbb;')
    a(href='blunder')
      img(src='images/blunder_100w.jpg', width='132px' alt='Blunder: Why Smart People Make Bad Decisions')
    a(href='breeding-bin-ladens')
      img(src='images/breedingbinladens_hires_100w.jpg', width='120px' alt='Breeding Bin Ladens')
    a(href='what-hitler-knew')
      img(src='images/whathitlerknew_hires_100w.jpg', width='131px' alt='What Hitler Knew')
