extend layout
block content

  #bookContainer(style='margin:50px 0px;')
    div(style='position:relative; bottom:25px; margin-left:10px;') Zachary Shore is a historian of international conflict, with a focus on the roots of judgment in foreign affairs.
    .book
      a(href='http://www.amazon.com/Sense-Enemy-Stakes-History-Reading/dp/0199987378/')
        img(src='images/sense_hires_300w.jpg' alt='A Sense of the Enemy' style='border:solid 1px #bbb;')
      .bookInfo
        |Interesting things to say about a sense of the enemy!!.
      div(style="clear:both")
    .book
      a(href='blunder')
        img(src='images/blunder_300w.jpg' alt='Blunder: Why Smart People Make Bad Decisions')
      .bookInfo
        |Interesting things about blunder.
      div(style="clear:both")
    .book
      a(href='breeding-bin-ladens')
        img(src='images/breedingbinladens_hires_300w.jpg' alt='Breeding Bin Ladens')
      .bookInfo
        |Description for breeding bin ladens
      div(style="clear:both")
    .book
      a(href='what-hitler-knew')
        img(src='images/whathitlerknew_hires_300w.jpg' alt='What Hitler Knew')
      .bookInfo
        |Description for what hitler knew
      div(style="clear:both")
    #width
    script(type='text/javascript').
      $('#width').html($(window).width());

