extend layout
block content

  #bookContainer
    a(href='a-sense-of-the-enemy')
      img(src='images/Cover-Image-Rival_100w.jpg', width='130px')
    a(href='blunder')
      img(src='images/blunder_100w.jpg', width='130px')
    a(href='breeding-bin-ladens')
      img(src='images/breedingbinladens_100w.jpg', width='120px')
    a(href='what-hitler-knew')
      img(src='images/whathitlerknew_100w.jpg', width='140px')
