extend layout
block content

  #bookContainer
    img(src='images/Cover-Image-Rival_100w.jpg', width='130px')
    img(src='images/blunder_100w.jpg', width='130px')
    img(src='images/breedingbinladens_100w.jpg', width='130px')
    img(src='images/whathitlerknew_100w.jpg', width='130px')
