extend layout
block content

  #bookContainer
    a(href='http://www.amazon.com/Sense-Enemy-Stakes-History-Reading/dp/0199987378/')
      img(src='images/Cover-Image-Rival_100w.jpg', width='130px' alt='A Sense of the Enemy')
    a(href='blunder')
      img(src='images/blunder_100w.jpg', width='130px' alt='Blunder: Why Smart People Make Bad Decisions')
    a(href='breeding-bin-ladens')
      img(src='images/breedingbinladens_100w.jpg', width='120px' alt='Breeding Bin Ladens')
    a(href='what-hitler-knew')
      img(src='images/whathitlerknew_100w.jpg', width='140px' alt='What Hitler Knew')
