extend layout
block content

  div(style='position:relative; bottom:25px; margin-left:10px;') Zachary Shore is a historian of international conflict, with a focus on the roots of judgment in foreign affairs.
  #bookContainer(style='margin:10px 0px;')
    a(href='http://www.amazon.com/Sense-Enemy-Stakes-History-Reading/dp/0199987378/' style="margin:0px 0px 40px; display:block;")
      img(src='images/sense_hires_100w.jpg', width='129px' alt='A Sense of the Enemy' style='border:solid 1px #bbb; display:block; margin:0px auto;')
    div
      a(href='blunder')
        img(src='images/blunder_100w.jpg', width='132px' alt='Blunder: Why Smart People Make Bad Decisions')
      a(href='breeding-bin-ladens')
        img(src='images/breedingbinladens_hires_100w.jpg', width='120px' alt='Breeding Bin Ladens')
      a(href='what-hitler-knew')
        img(src='images/whathitlerknew_hires_100w.jpg', width='131px' alt='What Hitler Knew')
