!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //-script(type='text/javascript', src='/javascripts/script.js')
  body.center
    header
      h1#headerTxt
        a.georgia(href='/') Zachary Shore
    #nav.georgia
      a(href='about') Biography
      a(href='publications') Publications
      a(href='media') Media
      a(href='contact' style='border-right:none; padding-right:none;') Contact
    .container
      block content
    hr(style="border: solid 1px #c9c9c9; clear:both; margin-bottom:30px;")
