extend layout
block content

  #mediaContent
    h4#video Video
    p Dialogue - Breeding Bin Ladens
      iframe(style="display:block; margin-top:10px;" width="420" height="315" src="//www.youtube.com/embed/dtaOsFNwyjU" frameborder="0" allowfullscreen)
    p(style='margin-top:5px;') Research and Writing Tips 
      iframe(style='display:block; margin-top:10px;' width="560" height="315" src="//www.youtube.com/embed/9lwb2CrXPRE" frameborder="0" allowfullscreen)
    p Grad School Survival Skills
      iframe(class="uve" scrolling="no" type="text/html" seamless="true" width="425" height="319" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="display:block; position:relative; right:7px;"
      src="http://www.nps.edu/Video/UVE/Embedder/Default.aspx?app=PAO&mode=flash&media=SIGS_Janis.mp4&media_webm=&splash=http://fmsweb.nps.edu/stills/preview_shore.jpg&usessl=no&width=425&height=319")
    h4#audio Audio
    p
      |It's Your World, Thurs, Mar 19, 2009 -
      a(href='http://www.zacharyshore.com/static/content/03-19-09_Zachary_Shore.mp3') Breeding Bin Ladens (mp3 download)
    p
      |Forum, with Michael Krasny, Fri, Jan 23, 2009 -- 10:00 AM -
      a(href='http://www.zacharyshore.com/static/content/2009-01-23b-forum.mp3') How We Decide (mp3 download)
    p
      |Tech Nation, with Dr. Moira Gunn, Tues, Jan 20, 2009 -
      a(href='http://www.zacharyshore.com/static/content/ITC.TN-ZacharyShore.mp3') Blunder, Why Smart People Make Bad Decisions (mp3 download)
    p
      a(href='http://will.illinois.edu/afternoonmagazine/monthly/2008/12/') Interview with Celeste Quinn of "Afternoon Magazine", WILL (NPR Affiliate)
    p
      a(href='http://will.illinois.edu/afternoonmagazine/monthly/2008/12/') Interview with Celeste Quinn of "Afternoon Magazine", WILL (NPR Affiliate)
    h4#print Articles
    p
      |Sam Whiting, <a href='http://www.zacharyshore.com/static/content/chronicle_zachary_shore.pdf'> Facetime</a>, San Francisco Chronicle, January 28, 2007.
    p
      |Anna Badkhen, <a href='http://www.sfgate.com/cgi-bin/article.cgi?file=/c/a/2006/10/09/MNGUMLLEQP1.DTL'>Experts see no clear options for exiting Iraq</a>, San Francisco Chronicle, October 9, 2006.
    p
      |Zachary Shore, <a href='http://steveweber.typepad.com/steve_weber__politics_and/2005/11/exit_strategies.html'>Voting is the Exit Strategy</a>, Steve Weber's Blog, November 15, 2005.
    h4#reviews Reviews
    p
      a(href='http://www.oprah.com/article/omagazine/readingroom/200811_omag_book_shore') Oprah.com review of "Blunder"
      |, Elaina Richardson.
    h4#other Other appearances
    p
      |"Dialogue," Television show with host, George Seay, Washington, DC, April 16, 2007. Guest for Dialogue's 900th interview.
    p
      |Wisconsin Public Radio, "At Issue," Host, Gene Purcell, April 13, 2007.
    p
      |Foreign Policy Research Institute, Alvin Z. Rubenstein Memorial Lecture, Philadelphia, Pennsylvania, April 12, 2007.
    p
      |World Affairs Council, Dallas, Texas, April 5, 2007.
    p
      |World Affairs Council, Fort Worth, Texas, April 5, 2007.
    p
      |Kevin Howe, High-tech effect on young Muslims, Monterey Herald, March 28, 2007.
    p
      |World Affairs Council, Carmel Valley, California, March 27, 2007.
    p
      |Chicago Radio, WGN, "Extension 720," Host, Milt Rosenberg, January 19, 2007.
    
