extend layout
block content

  #mediaContent
    h4#video Video
    p(style='margin-top:5px;') Research and Writing Tips 
      iframe(style='display:block; margin-top:10px;' width="420" height="315" src="//www.youtube.com/embed/TZw3bDFj1sE" frameborder="0" allowfullscreen)
    p|Grad School Survival Skills 
      script(type='text/javascript' src='http://www.nps.edu/Video/Embedder/Default.aspx?enc=i4BokdAMaAI%2fHqWi7JIEfHcZ2ngCQW7s')
    h4#audio Audio
    p
      |It's Your World, Thurs, Mar 19, 2009 - Breeding Bin Ladens (mp3 download)
    p
      |Forum, with Michael Krasny, Fri, Jan 23, 2009 -- 10:00 AM - How We Decide (mp3 download)
    p
      |Tech Nation, with Dr. Moira Gunn, Tues, Jan 20, 2009 - Blunder, Why Smart People Make Bad Decisions (mp3 download)
    p
      |Interview with Celeste Quinn of "Afternoon Magazine", WILL (NPR Affiliate)
    p
      |Interview with Celeste Quinn of "Afternoon Magazine", WILL (NPR Affiliate)
    h4#articles Articles
    p
      |Sam Whiting, Facetime, San Francisco Chronicle, January 28, 2007.
    p
      |Anna Badkhen, Experts see no clear options for exiting Iraq, San Francisco Chronicle, October 9, 2006.
    p
      |Zachary Shore, Voting is the Exit Strategy, Steve Weber's Blog, November 15, 2005.
    h4#reviews Reviews
    p
      |Oprah.com review of "Blunder", Elaina Richardson.
    h4#other Other appearances
    p
      |"Dialogue," Television show with host, George Seay, Washington, DC, April 16, 2007. Guest for Dialogue's 900th interview.
    p
      |Wisconsin Public Radio, "At Issue," Host, Gene Purcell, April 13, 2007.
    p
      |Foreign Policy Research Institute, Alvin Z. Rubenstein Memorial Lecture, Philadelphia, Pennsylvania, April 12, 2007.
    p
      |World Affairs Council, Dallas, Texas, April 5, 2007.
    p
      |World Affairs Council, Fort Worth, Texas, April 5, 2007.
    p
      |Kevin Howe, High-tech effect on young Muslims, Monterey Herald, March 28, 2007.
    p
      |World Affairs Council, Carmel Valley, California, March 27, 2007.
    p
      |Chicago Radio, WGN, "Extension 720," Host, Milt Rosenberg, January 19, 2007.
    
