extend layout
block content

  div.bookDetailImg(style='margin-left:20px; margin-bottom:10px;')
    img(src='images/sense_hires_300w.jpg' width='250px' alt='Blunder: Why Smart People Make Bad Decisions' title='Blunder: Why Smart People Make Bad Decisions')
    div(style='margin-top:5px; text-align:center; font-size:.9em') Available from <a href='http://www.amazon.com/Sense-Enemy-Stakes-History-Reading/dp/0199987378/'>Amazon</a>
  h3 A Sense of the Enemy
  h4(style='margin-bottom:10px;') Seeking Strategic Empathy - Excerpt from the Introduction
  p(class='mb10').
    Despite a decade of military operations across Afghanistan, by the winter of 2010 it had become clear that the United States was not succeeding. Hoping to induce the Afghan insurgents into peace talks, U.S. and NATO officials tried to bribe the Taliban to the conference table. They paid an undisclosed and hefty sum to Mullah Akhtar Muhammad Mansour for his participation, at one point flying the Taliban’s second-in-command to meet with President Hamid Karzai in Kabul. The talks seemed to be proceeding well. Mansour’s demands were remarkably reasonable. Yet one thing did trouble some officials. Mansour was several inches shorter than he should have been.
  p(class='mb10').
    Unfortunately, the Taliban commander was a fake, a shopkeeper from Quetta, Pakistan.1 Following the third round of negotiations, the clever merchant made off with a fortune, no doubt laughing as he spirited his wealth away. The episode exposed how poorly the United States knew its enemy in this ongoing war. On a superficial level, American and NATO officials could not even identify the number-two man in their opponent’s organization. On the more strategic level, they did not notice that throughout three separate meetings, the impostor never once requested that foreign troops withdraw from Afghan soil—a staple of Taliban demands. Without concrete descriptions of Mansour’s appearance, the United States and NATO had to focus on his behavior. Did he think the way a Taliban commander would? In a sense, they needed to read Mansour’s mind.
  p(class='mb10').
    What NATO and U.S. officials lacked was strategic empathy: the ability to think like their opponent. Strategic empathy is the skill of stepping out of our own heads and into the minds of others. It is what allows us to pinpoint what truly drives and constrains the other side. Unlike stereotypes, which lump people into simplistic categories, strategic empathy distinguishes what is unique about individuals and their situation. To achieve strategic empathy, you must first identify the information that matters most.
  p(class='mb10').
    Knowing how another thinks depends initially on gathering and analyzing information. Most leaders use the “great mass” approach. Drawing on intelligence networks, they gather up as much data as they can. The problem, of course, is that it is too easy to drown in an ocean of information. Determining which data matter and connecting the dots then grows even harder. In contrast to the great mass approach, others believe that a “thin slice” of information is more effective at revealing someone’s true nature. The danger is that we often choose the wrong slice, leading us painfully astray. The conclusion here is inescapable. The quantity of information is irrelevant; it’s the relevance of any quantity that matters. The key is not to collect a great mass or a thin slice but the right chunk.
  p(class='mb10').
    The challenge that has long bedeviled leaders is to find heuristics—decision-making shortcuts—to help them locate those right chunks. Such shortcuts would not generate omniscience, but they would equip us with a sense for what makes our enemies tick. And that sense would greatly improve our odds of anticipating the enemy’s actions. This is what strategic empathy enables, and you can imagine how valuable this skill would be.
  p(class='mb10').
    This is a book about prediction, though not of the ordinary kind. It is not about predicting sports matches, stock markets, elections, or any of the typical things people bet on. Instead, it’s about predicting other people’s behavior when the stakes are the highest they can be—over matters of war and peace. It’s a book about how we get out of our own minds and into someone else’s head, and it focuses on how national leaders in modern times have struggled to do it well.
  p(class='mb10').
    This is specifically a history of how leaders within governments have tried to think like their enemies. It explores the zig-zag stories when each side in a conflict sought to outmaneuver the other. It is a walk through one of the twentieth-century’s most challenging yet crucial quests: reading the enemy mind.
  div.horizontalLinks
    span <div class='italic' style='display:inline'>A Sense of the Enemy</div> is available from:
    span <a href='http://www.amazon.com/Sense-Enemy-Stakes-History-Reading/dp/0199987378/'>Amazon</a>