extend layout
block content
  div(style='float:right; margin-left:20px; margin-bottom:10px;')
    img(src='images/whathitlerknew_hires_300w.jpg' width='250px' alt='What Hitler Knew' title='What Hitler Knew')
    div(style='margin-top:5px; text-align:center; font-size:.9em') Available from: <a href="http://www.amazon.com/o/redirect?tag=tellafriend-20&amp;path=tg%2Fdetail%2F-%2F0195154592%2Fref%3Dcm%5Ftaf%5Fasin%5Ftitle%5Fcs" target="_blank">Amazon</a>
  div.textContent
    h4 Reviews
    p Robert Lane Greene, <a target="_blank" href="http://www.tnr.com/doc.mhtml?i=foreign&s=greene032503">"Know Contest"</a>, The New Republic Online, March 25, 2003.
    p Joe Dempsey, <a target="_blank" href="http://www.washingtonmonthly.com/features/2003/0303.dempsey.html">"Hitler's Handlers"</a>, Washington Monthly, March 2003.

    h4 The Darker World - Excerpt from the Introduction
    p.
      Imagine yourself as one of Hitler's diplomats. From the very beginning of Hitler&#39;s rule in 1933, you find yourself serving a violent regime.
      Each day you read or hear about mass arrests, beatings, and murders. Communists, Socialists, trade unionists, Catholics, Jews, and others are being persecuted by your government.
      SA thugs in uniforms roam the streets in paramilitary bands, picking fights with those who fail to salute them, beating and sometimes slaying their victims.
    p.
      You can no longer speak freely on the telephone without fear that your line is tapped and your voice recorded. Conversations among colleagues and friends are charged
      with an undercurrent of tension. Your mail and telegrams are monitored, so you take greater care in choosing your words. The newspapers you read are censored or banned.
      And after two months of serving this new regime, parliamentary democracy disappears.
    p.
      In the back of your mind you worry that the Party might one day turn against you. Then, in the summer of 1934, after eighteen months of mounting tension,
      you witness the end of the rule of law. As thousands are arrested and an unknown number murdered, you soon learn that conservatives of your ilk are among the victims.
      Of the three most recent chancellors, you hear that one was shot to death in his home along with his wife. Another is said to have had his staff members shot to death
      across their desks or sent to concentration camps while he was placed under house arrest. A third, you are told, fled into exile. And within your own ministry,
      colleagues are arrested and others are sent into hiding, fearing for their lives. And with each passing day, your country marches ever closer to the abyss of total war.
    p.
      For much of the 1930s, Hitler enjoyed immense popularity. Torchlight parades, symbols of strength and unity, the restoration of German power and pride,
      all held tremendous appeal, not simply for the masses, but for the elites as well. Hitler&#39;s leading diplomats the advisers he inherited from the Weimar
      regime and on whom he depended for continuity, intelligence, and knowledge of foreign capitols shared many of the Fuhrer&#39;s broader political aims.
      They cheered the recapture of the Rhineland; they applauded the dismantling of Versailles. They welcomed a return of Germany&#39;s rightful place as a great power
      and basked in Hitler's torchlit glory. This was one world in which the diplomats existed. It was the outer world, the one they could safely share with others.
      But below the surface of Germany's foreign policy successes lay a darker world, cast in the shadow of torchlight parades. And its climate was one of tension, uncertainty, and fear.
    p
      a(href="/static/content/whathitlerknew_intro.pdf") To read the full introduction, click here

    h4 What do we know about WHAT HITLER KNEW?
    p Q: Do we really need another book on Hitler? After sixty years of research, is there anything new to say about Nazi Germany?
    p.
      A: History is all about solving riddles. As long as questions remain unanswered, or the answers are incomplete, there is a need for more research,
      especially on the most significant event of the 20th century. This book not only brings us closer to understanding the puzzle of how the Third Reich functioned,
      but by spotlighting the problem of information flow, it also helps unlock some of the other mysteries that have challenged historians for decades.
      <br /> Why did Stalin sign the Nazi-Soviet pact if he knew Hitler planned to invade?<br /> Why did Hitler risk a war with France in 1936 when Germany seemed certain to lose?
      <br /> Did British Prime Minister Neville Chamberlain actually seek a secret non-aggression pact with Hitler on the eve of war?
      <br /> WHAT HITLER KNEW provides surprising answers to these and other historical conundrums.</p>
      <p>Q: What is WHAT HITLER KNEW about?</p> <p>A: WHAT HITLER KNEW is about decision making within dictatorships. The book asks how foreign policy decisions were made inside Nazi Germany.
      It focuses on how the climate of fear within the Third Reich affected the way Hitler's advisors behaved. Hitler's advisors, especially the non-Nazi diplomats in Germany's
      foreign service, were subject to Gestapo and SS intimidation like so much of German society, but Instead of being cowed into submission, many of those advisors took startling risks,
      gambling with their nation's future as well as their own.
    p Q: Why is the subtitle "The Battle for Information"?
    p.
      A: Hitler's advisors had little job security, especially the aristocratic diplomats. After the seizure of power, most governmental officials were gradually replaced by Nazi Party loyalists,
      but two institutions &ndash; the Army and the Foreign Ministry &ndash;proved difficult to purge because Hitler depended on them for their expertise.
      Nevertheless, most non-Nazi officials understood their precarious position. Not only were they under extra scrutiny from state surveillance, but ambitious Nazi Party careerists
      constantly undermined their authority, hoping eventually to succeed them. Lacking any other defense, Hitler's advisors wielded the only viable weapon at their disposal: information.
    p.
      In the tense, uncertain climate of Hitler's Reich, the advisors exerted a near obsessive control over information, using it to safeguard their positions, and sometimes their lives.
      Information control exists in every regime, and in most bureaucracies information really does equal power. But in Hitler's Reich the control of information affected more than just
      one's career. It sometimes spelled the difference between promotion or persecution, peace or war.</p> <p>Q: What is the basic take-away point?
    p.
      A: The main argument is this. Hitler's power to make informed decisions was limited by the very system he created. By fostering a climate of fear through state-sponsored surveillance,
      intimidation, and violence, Hitler inadvertently led his advisors to exert a near obsessive control over information, at times even keeping the Chancellor himself in the dark.
    p.
      Q: Can historians ever really know what happened inside any regime? So many important decisions must have been influenced by events like private phone calls or hushed conversations
      in Ministry corridors, for which no written records were made.</p> <p>A: What makes the study of history so compelling is exactly this uncertainty. History is unkind to the scientist.
      It is not a laboratory experiment that we can run repeatedly, adjusting different variables to see how the outcomes would change. Instead, it is a detective story that begins with a mystery.
      We often know "who done it;" more interesting is how he done it, and why. Like detectives at crime scenes, we never have all the information we want. We are left to gather
      what records we can, search for corroborating evidence, and reason out the most likely scenarios. Through careful scrutiny of details, we can prove some explanations false and recreate
      the bigger picture of events. But ultimately all historians must embrace a degree of uncertainty &ndash; and that's what makes the story even more intriguing.
      In this case, we can never know all of what Hitler knew. But we can determine how the chaotic flow of information limited what he knew, and how it affected decision making within his regime.
    p.
      Not just in Europe and the United States, but also around the world, many people remain fascinated by the tragedy of World War II, the event that wrought previously unimaginable horrors
      and fundamentally altered the course of world affairs. People want to know how Hitler and the Nazis managed to create such wickedness. Curiosity alone suffices to fuel the search for answers,
      but pragmatic motives also exist. Unfortunately, the world must still interact with violent dictatorships. The better we can understand how they function, the greater are chances
      will be of defeating them.
    div.horizontalLinks
      span What Hitler Knew is availabe from:
      span <a href="http://www.amazon.com/o/redirect?tag=tellafriend-20&amp;path=tg%2Fdetail%2F-%2F0195154592%2Fref%3Dcm%5Ftaf%5Fasin%5Ftitle%5Fcs" target="_blank">Amazon</a>
      span <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?userid=9W2YvFjC5o&amp;isbn=0195182618&amp;itm=2" target="_blank">Barnes &amp; Noble</a>
      span <a href="http://www.oup.co.uk/isbn/0-19-518261-8" target="_blank">Oxford University Press</a></li> </ul>

