/* layout setup */
body {font-family:Georgia,Times,"Times New Roman",serif; font-size:0.9em;}
.container {margin:50px 0px;}
p {margin:0; padding:0;}
hr {border-color:#666;}

/* utility */
.sans {font-family:sans-serif;}
.center {display:block; margin-left:auto; margin-right:auto; width:320px; padding-top:20px;}
.mb10 {margin-bottom:10px;}
.textContent p {margin-bottom:10px;}
.hidden {display:none;}
.shown {display:block;}
.horizontalLinks span {display:inline-block; margin-right:20px;}

/* header/navigation */
#nav {display:block; letter-spacing:1px; border:solid 1px #c9c9c9; border-left:none; border-right:none; font-size:0.75em; margin:20px 0px 0px 0px; padding:0px; height:40px;}
#nav a {display:inline-block; padding:0px 10px; border-right: solid 1px #c9c9c9; line-height:40px;}
#nav #booksSubHeader a {margin-right:30px;}
#headerTxt {text-align:left; font-size:30; line-height:20px; margin-left:10px; color:#000; font-weight:normal; letter-spacing:1px;}
#headerTxt a, #nav a, #footerNav a {text-decoration:none; color: #000;}

#footerNav a {display:none; margin:0px 0px 10px 10px;}

/* books/homepage */  
#bookContainer img {margin:0px 30px;}
#bookContainer .book {display:block; margin-bottom: 15px;}
#bookContainer a img {width:200px;}
.bookInfo {display:block; margin-left:10px;}

/* publications */
#publicationsContent p {margin:20px 0px 0px 0px; padding-bottom:20px; border-bottom:1px dashed #ccc;}
#publicationsContent h4 {margin:30px 0px;}

/* media */
#mediaContent p {margin:20px 0px 40px 0px;}

/* about */
.bioText p, .fellowships p {margin-bottom:20px;}

@media screen and (min-width: 768px) {
  body {font-size:1em;}
  #nav {font-size:1em;}
  #nav {display:block;}
  #footerNav {display:none;}
  .center {width: 768px;}
  #nav a {margin-right:50px; border-right:none;}
  .bookInfo {display:inline-block; position:relative; bottom:160px;}
}



